.App {
  margin: auto;
  background-color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  background: linear-gradient(0deg, #ebebea, #f7f6f7 80%) no-repeat;
  background-color: #e7e7e7;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
}  
.folder-open {
  display: grid;
  grid-template-columns: 200px 200px 1fr;
}
.folder-close {
  display: grid;
  grid-template-columns: 200px 1fr;
}
 
